@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
body {
  margin: 2em auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.2em;
  color: #fefffa;
  background-color: #202020;
  font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3 {
  line-height: 1.2;
  text-align: center;
}

button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

body, html {
  height: 100%;
  display: grid;
}

.titre {
margin: auto;
}

@media only screen and (max-width: 480px) {
  h1, h2, h3, p, button, ul, ol {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  button {
    font-size: 1.2em !important;
    max-width: 90%;
  }
  .mort, .spaghetti {
    margin: 0 !important;
  }
  
}

.mort, .spaghetti, #solarSystem, .compression, .ajout, .dilatation {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.primordiaux {
  width: 100%
}

li {
  padding-bottom: 16px;
}

img.schéma {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 75%;
  display: block;
}

img.étoile {
  margin: auto;
  text-align: center;
  width: 50%;
  display: block;
}

@keyframes pressure {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.25);
    opacity: 50%;
  }
  100% {
    transform: scale(1.75);
    opacity: 0%;
  }
}

#Pression {
  animation: pressure 5s infinite;
  transform-origin: center;
  transition-timing-function: ease-out;
}

#Gravity {
  animation: gravity 5s infinite;
  transform-origin: center;
}

@keyframes gravity {
  0% {
    transform: scale();
  }
  50% {
    transform: scale(0.25);
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }
  100% {
    opacity: 0%
  }
}

@keyframes ded {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

#lol {
  animation: ded 5s infinite;
}

#Disque {
  animation: Spaghet 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes Spaghet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Mythes systeme solaire*/

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#Mercure {
  animation: orbit 5s linear infinite;
  transform-origin: center;
}

#Venus {
  animation: orbit 8s linear infinite;
  transform-origin: center;
}

#Terre {
  animation: orbit 12s linear infinite;
  transform-origin: center;
}

#Mars {
  animation: orbit 20s linear infinite;
  transform-origin: center;
}

#Jupiter {
  animation: orbit 30s linear infinite;
  transform-origin: center;
}

#Saturne {
  animation: orbit 60s linear infinite;
  transform-origin: center;
}

#Uranus {
  animation: orbit 100s linear infinite;
  transform-origin: center;
}

#Neptune {
  animation: orbit 120s linear infinite;
  transform-origin: center;
}

/*formation*/

/*compression*/

@keyframes smolearth {
  0% {
    transform: scale(1);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  55% {
    transform: scale(0.16);
    opacity: 0%;
  }
  100% {
    transform: scale(0.16);
    opacity: 0%;
  }
}

#earth {
  animation: smolearth 7s ease-out infinite;
  transform-origin: center;
}

@keyframes swagchild {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  55% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

#trou {
  animation: swagchild 7s ease-out infinite;
}

/*ajout de matiere*/

@keyframes dankchild {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(10);
  }
  55% {
    transform: scale(10);
  }
  100% {
    transform: scale(10);
  }
}

#rs {
  animation: dankchild 7s ease-out infinite;
  transform-origin: center;
}

@keyframes bigearth {
  0% {
    transform: scale(1);
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  55% {
    transform: scale(2);
    opacity: 0%;
  }
  100% {
    transform: scale(2);
    opacity: 0%;
  }
}

#terre {
  animation: bigearth 7s ease-out infinite;
  transform-origin: center;
}

/*dilatation temps*/

#s1 {
  animation: time 100s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#s2 {
  animation: time 1s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#min1 {
  animation: time 6000s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#min2 {
  animation: time 60s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#h1 {
  animation: time 360000s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#h2 {
  animation: time 3600s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}